<!DOCTYPE html>
<html>
  <head>
    <title>Playing BLACK JACK in THE LUCKY SAVAGE -CASINO-</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
              <li><a href="/new_player">New Game</a></li>
            </ul>
        </div>
      </div>
    </div>

  <div class="container">
    <div class="table">
      <div class="opacity"></div>
      <div class="tablecontent clearfix">
    <%if @error %>
      <div class="alert alert-error"><%=@error%></div>
    <% end %>
    <%if @success %>
      <div class="alert alert-success"><%=@success%></div>
    <% end %>
      <%= yield %>
      </div>
    </div>  
    </div>
  </div>
  </body>
</html>



